:root{
    --fourhundred: 400px;
    --fourhundredminustwenty: 380px;
    --fourhundredhalf: 200px;
}



*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    border: 3px solid green;
    height: 400px;
    width: 500px;
    margin: auto;
}
.user{
    background-color: lightgreen;
    width: 200px;
    height: 20px;
    left: 150px;
    position: relative;
}
.ball{
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    position: relative;
    top:360px;
}
.animation{
    animation:slideY 5s infinite linear;
}
.balldiv{
    width:500px;
    height: 380px;
    position: relative;
    margin: auto;
    animation:slideX 1.0284s infinite linear;
}
@keyframes slideX{
    0%{left:0px;}
    50%{left:500px;}
    100%{left:0px;}
}
@keyframes slideY{
    0%{top:360px;}
    50%{top:0px;}
    100%{top:360px;}
}
.left{
    z-index: 100;
    width: 500px;
    position: absolute;
    height: 400px;
}
.right{
    z-index: 100;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    height: 400px;
}
button{
    color: green;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: 3px solid green;
    border-radius: 0.3rem;
    margin: 1rem auto;
    margin-left: 43%;
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .game,.left,.right{
        height: 400px;
        width:400px;
    } 

    @keyframes slideY{
         0%{top:360px;}
         50%{top:0px;}
         100%{top:360px;}
    }

    @keyframes slideX{
        0%{left:0px;}
        50%{left:400px;}
        100%{left:0px;}
    }

    .ball{
         top:360px;
    }
    
    .balldiv{
         height: 380px;
         
    }

    .user{
        background-color: lightgreen;
        width: 120px;
        height: 20px;
        left: 150px;
        position: relative;
    }
 }






 @media screen and (max-width: 400px){
    .game,.left,.right{
        height: 400px;
        width:300px;
    } 

    @keyframes slideY{
         0%{top:360px;}
         50%{top:0px;}
         100%{top:360px;}
    }

    @keyframes slideX{
        0%{left:0px;}
        50%{left:300px;}
        100%{left:0px;}
    }

    .ball{
         top:360px;
    }
    
    .balldiv{
         height: 380px;
         width:150px;
         
    }

    .user{
        background-color: lightgreen;
        width: 100px;
        height: 20px;
        left: 150px;
        position: relative;
    }
 }