*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family:Roboto;
    background: #EEEEF4;
  }

.startbutton{
    color: green;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: 3px solid green;
    border-radius: 0.3rem;
    margin: 1rem auto;
    margin-left: 45%;
}

.startbutton:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.consignes{
    width: 50%;
    margin-left: 25%;
}
.container{
    width: 500px;
    height: 200px;
    border: 7px solid black;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.support0{
    width: 500px;
    
    border: 7px solid black;
    border-bottom: 14px solid black;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
    
   
}

.btnsupport{
    width: 7px;
    height: 7px;
    background-color: white;
    margin: auto;
    border-radius: 100%;
    
}

.support1{
    width: 15px;
    height: 50px;
    border: 5px solid black;
    margin: auto;
    background-color: black;
}

.support2{
    width: 90px;
    height: 5px;
    border: 5px solid black;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}

#solider{
    width: 20px;
    height: 50px;
    position:relative;
    top: 150px;
    left: 50px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#bombe{
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
 /*   animation: bombe 1s infinite linear;*/
}
h1{
    color:green; 
    text-align:center;
}
.consignestitle{
    text-align: center;
    color:green
}
#score{
    display:none;
}
.animatebomb{
    animation: bombe 1s infinite linear;
}
@keyframes bombe{
    0%{left: 500px}
    100%{left: -20px}
}

p{
    text-align: center;
}




